<!doctype html>
<html ng-app="demo">
<head>
    <title>DoubleData Danichev</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
    <!--<script src="lib/angular.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
    <script src="lib/angular-cookies.js"></script>

    <script src="controllers/controller.js"></script>
</head>

<body>
<!-- AngularJS Material Dependencies -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>-->

<div ng-controller="Hello">
    <h1>Calc hash</h1>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-input-container>
            <label>Src</label>
            <input type="text" ng-model="newTask.src">
        </md-input-container>
        <md-input-container>
            <label>Algo</label>
            <input type="text" value="md5" ng-model="newTask.algo">
        </md-input-container>
        <ng-click ng-click="addTask(newTask)"><md-button md-no-ink class="md-primary">Add Task</md-button></ng-click>
    </section>

    {{status}}


    <footer>
        <div layout="row" layout-align="center center">
            <h3>{{userid}}</h3>
        </div>
    </footer>
</div>
</body>
</html>

