<html ng-app="myapp">
<head>

    <!-- AngularJS Material CSS now available via Google CDN; version 1.0.7 used here -->
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">

    <!-- AngularJS Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>


    <!-- AngularJS Material Javascript now available via Google CDN; version 1.0.7 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
    <script src="ng-file-upload-all.js"></script>
    <script src="js.js"></script>
</head>
<body ng-controller="myctrl">

<button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
        ngf-max-height="1000" ngf-max-size="1MB">
    Select Src List
</button>

<form ng-init="newTask = {src:'https://yandex.ru', algo:'MD5'}">
    <label>Src
        <input type="text" ng-model="newTask.src"/>
    </label>
    <label>Algo
        <input type="text" ng-model="newTask.algo"/>
    </label>
    <button ng-click="add(newTask)">ADD</button>
</form>
<table border="1">
    <caption>Digest Tasks</caption>
    <tr>
        <th>Id</th>
        <th>Src</th>
        <th>Algo</th>
        <th>Status</th>
        <th>Info</th>
    </tr>
    <tr ng-repeat="task in tasks | orderBy:'id'">
        <td>{{task.id}}</td>
        <td>{{task.src}}</td>
        <td>{{task.algo}}</td>
        <td>{{task.status}}</td>
        <td><span ng-switch on="task.status">
            <span ng-switch-when="OK|ERR" ng-switch-when-separator="|">{{task.statusPayload}}</span>
            <span ng-switch-when="WAIT|PROCESS" ng-switch-when-separator="|">{{task.elapsedSeconds}} seconds</span>
        </span></td>
        <td>
            <button ng-click="remove(task.id)">Remove</button>
        </td>
    </tr>
</table>

<footer>{{userid}}</footer>

</body>
</html>